<div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">

        <li class="">
            <a href="@Url.Action("Index","Home")">
                <i class="now-ui-icons users_single-02"></i>
                <p>Employees</p>
            </a>
        </li>
      

  
    </ul>
</div>